.footer {
  padding: 10px 100px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
}

.footer-copy {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer-link {
  transition: color 0.4s;
}

.footer-link:hover {
  color: var(--color2)
}